<!-- <h1>my display{{message}}</h1> -->
{% extends 'base.html'%} {% block content %}
<br>
<br>
<br> {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

<body>
  <div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card">
            <div class="card-header">
              <h3> News Sources</h3>
            </div>
            <div class="list-group list-group-flush">
              <ul>
                {% for source in sources %}
                <a href="/article/{{source.id}}">{{source.id}}</a>
                <br> {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        <div class="col-9">
          <h1>FIRST LINE</h1> So many words, so many words. So many words, so many words. So many words, so many words.
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="columns">
        <h3> Sources</h3>
        <ul>
          {% for source in sources %}
          <a href="/article/{{source.id}}">{{source.id}}</a>
          <br> {% endfor %}
        </ul>
      </div>
      <div class="columns" </div> -->
</body>

{% endblock %}

<div class="main">
  <div class="container-fluid">
    <div class="row">

      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <h3> News Sources</h3>
          </div>
          <div class="list-group list-group-flush">
            <ul>
              {% for source in sources %}
              <a href="/article/{{source.id}}">{{source.id}}</a>
              <br> {% endfor %}
            </ul>
          </div>

        </div>
      </div>

      <div class="col-9">
        <h1>FIRST LINE</h1> So many words, so many words. So many words, so many words. So many words, so many words.
      </div>

    </div>
  </div>
</div>
