<div class="">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <h3> <a class="navbar-brand" href="/"><span class="badge badge-success">Habari..Chap chap</span></a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><button type="button" class="btn btn-outline-success">Home </button><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'categories/Business'}}"><button type="button" class="btn btn-outline-success">Business</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'categories/Technology'}}"><button type="button" class="btn btn-outline-success">Technology</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'categories/Science'}}"><button type="button" class="btn btn-outline-success">Science</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'categories/Sports'}}"><button type="button" class="btn btn-outline-success">Sports</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'categories/Entertainment'}}"><button type="button" class="btn btn-outline-success">Entertainment</button></a>
        </li>
      </ul>
      <span class="navbar-text">
      ©News Api
    </span>
    </div>
  </nav>
</div>
